* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #414141;
}

/* COMPONENTS AND GENERAL STYLING*/
h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.btn-outline {
    background: transparent;
    border: 1px solid #777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    font-weight: 600;
    transition: background-color 0.5s;
}

.btn-outline:hover {
    border: 1px solid #484848;
    background: #484848;
    color: #fff;
}

/*COLOR THEME PALETTE*/
.primary-color {
    color: #777;
}

.section-title {
    text-align: center;
    margin: 60px 0;
    font-size: 36px;
    font-weight: bold;
    color:#494949;
    text-transform: uppercase;
}

/*HEADER*/
header {
    background: #f5f5f5;
    /*height: 100%;*/
}

/*MAIN MENU*/
.main-menu {
    margin: 50px 0 20px 0;
    padding: 0;
    list-style-type: none;
}

.main-menu li {
    display: inline-block;
    margin: 0 10px;
}

.main-menu li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.5s;
}

.main-menu li a:hover {
    color: #ffd504;
}

#sidemenu-toggle {
    margin: 50px 0 0 20px;
    color: #777;
    text-decoration: none;
}

#sidemenu-toggle:hover {
    text-decoration: none;
    color: #ffd504;
}

.logo {
    margin-top: 30px;
}

/*MAIN BANNER*/
.slider-text {
    position: static;
}

.slider-description {
    position: absolute;
    top: 50%;
    width: 50%;
    margin: -140px 0 0 0;
}

.slider-description h1 {
    margin: 10px 0;
}

.slider-description h2 {
    color: #919191;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

/*ABOUT ME*/
#aboutme {
    padding: 0 0 60px 0;
}

.aboutme-description h3 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.skill h4 {
    font-size: 15px;
    font-weight: 600;
}

.skill h4 span {
    float: right;
}

/*RESUME*/
#resume {
    background: #f5f5f5;
    padding: 0 0 70px 0;
}

.resume-item {
    margin: 0 0 70px 0;
}

.resume-item h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
}

.resume-item h2:before {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 2px solid #939393;
    background-color: transparent;
    left: -38px;
    content: '';
}

.resume-item.actual h2:before {
    border: 2px solid #5e5e5e;
    background-color: #5e5e5e;
}

.resume-item h6 {
    margin: 0;
    text-align: center;
}

.resume-item-content h2 {
    margin: 0 0 10px 0;
    font-size: 21px;
    font-weight: 600;
}

.resume-item-content:before {
    background-color: #939393;
    opacity: .5;
    content: '';
    height: calc(100% + 54px);
    width: 1px;
    position: absolute;
    left: -30px;
    top: 16px;
}

/*PORTFOLIO*/
.portolio-categories {
    text-align: center;
    margin: 0 0 40px 0;
}

.portolio-categories ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.portolio-categories ul li {
    display: inline-block;
    margin: 0 10px;
}

.portolio-categories ul li a {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.portolio-categories ul li a:hover {
    color: #ffd504;
}

.portfolio-item {
    padding-bottom: 20px;
}

.portfolio-item h3 {
    display: inline-block;
    margin: 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #919191;
}

.portfolio-link {
    float: right;
    margin: 15px 15px 0 0;
    color: #494949;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.portfolio-link:hover {
    color: #ffd504;
}

.portfolio-item-inner {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 1s;
}

.portfolio-item-inner:hover {
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

#contact {
    background: #f5f5f5;
    text-align: center;
}

.menu-social {
    list-style-type: none;
}

.menu-social li {
    display: inline-block;
    margin: 20px;
}

.menu-social li a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #494949;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    color: #494949;
    line-height: 30px;
    text-align: center;
    transition: background 0.5s;
}

.menu-social li a:hover {
    background: #494949;
    color: #fff;
}

/*FOOTER*/
#footer {
    padding: 20px 0;
}

/*SIDE MENU*/
.sidr-inner {
    list-style-type: none;
}

.sidr-inner li {
    border-bottom: 1px solid #494949;
}

.sidr-inner li a {
    padding: 10px;
    display: block;
    color: #f2f2f2;
    text-transform: uppercase;
}

/*BOOTSTRAP OVERRIDE*/
.aboutme-skills
.progress {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #eee;
    height: 5px;
}

.progress-bar {
    background: #484848;
    height: 5px;
}

/*RESPONSIVENESS*/

@media screen and (max-width: 767px) {

    #sidemenu-toggle {
        font-size: 20px;
    }

    .aboutme-description {
        margin-bottom: 20px;
    }

    .slider-description {
        position: relative;
        margin: 50px 0 0 0;
        width: 100%;
        text-align: center;
    }

    .resume-item h5 {
        text-align: left;
    }

    .resume-item h6 {
        text-align: left;
        margin-bottom: 20px;
    }

    .resume-item-content:before {
        left: 0px;
        top: -42px;
        height: calc(100% + 116px);
    }

    .resume-item h2:before {
        left: -7px;
        top: -57px;
    }

    #footer{
        text-align: center;
    }

    .loveline{
        text-align: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*.logo-wrapper {*/
    /*text-align: center;*/
    /*}*/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

@media screen and (min-width: 992px) {

}